@font-face {
  font-family: 'MyFont';
  src: url('./index.otf') format('woff2');
  font-weight: 600;
  font-style: normal;
}
.hello {
  color: red;
  background: url('./icon.jpg');
  font-family: 'MyFont';
}